* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

body {
    background: rgb(19, 19, 19);
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.box {
    background: rgb(24, 24, 24);
    text-align: center;
    padding: 30px;
    border-radius: 35px;
    box-shadow: 16px 20px 30px -7px rgba(0, 0, 0, 1);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

h1 {
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.box-contadores {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;

    .btnMais, .btnMenos {
        width: 70px;
        height: 70px;
        font-size: 40px;
        border-radius: 20px;
        border: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .btnMais{
        background: #1e4610;
    }
    .btnMenos{
        background: #5b0000;
    }

    .box-num {
        background: rgb(15, 15, 15);
        width: 100px;
        height: 110px;
        font-size: 50px;
        border-radius: 25px;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.btn-reset {
    background: #5b0000; /* Vermelho escuro da imagem */
    border: none;
    width: 100%;
    height: 60px;
    border-radius: 20px;
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}